<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>Verificar Robot</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<style>
		span {
			color: red;
		}

		body {
			background-color: #003c8f;
		}

		.form-container {
			background-color: #e8eaf6;
			margin-top: 5em;
			border-radius: 3em;
			padding: 2em;
		}

		h1 {
			text-align: center;
		}

		.form-check {
			padding-left: 14em;
		}
	</style>
</head>

<body>

	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="form-container col col-lg-6">
				<h1>Confirma si Eres un Robot</h1>
				<form th:action="@{/seguridad}" th:object="${robot}" method="post">
					<div class="form-check">
						<input class="form-check-input" type="radio" th:field="*{soyRobot}" th:value="${false}">
						<label class="form-check-label">Selecciona aca si eres un robot</label>
					</div>
					<span th:errors="*{soyRobot}"></span><br>
					<button class="btn btn-primary btn-block" type="submit">Aceptar</button>
				</form>

				<a class="btn btn-block" href="/producto">Regresar</a>
			</div>
		</div>
	</div>





	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
		integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
		crossorigin="anonymous"></script>
</body>

</html>